<div class="grid">
    <div class="col-12 md:col-6 flex flex-column">
        <div class="m-1 flex flex-column">
            <span class="mb-1">Title</span>
            <input
                [formControl]="sculptureForm.controls.title"
                placeholder="Sculpture title..."
                pInputText
                class="w-full"
            >
        </div>
        <div class="m-1 flex flex-column">
            <span class="mb-1">Authors</span>
            <p-chips
                [formControl]="sculptureForm.controls.authors"
                [minlength]="1"
                placeholder="Creators..."
                inputStyleClass="w-full"
                styleClass="w-full"
            ></p-chips>
        </div>
        <div class="m-1 flex flex-column">
            <span class="mb-1">Age</span>
            <p-inputNumber
                [formControl]="sculptureForm.controls.age"
                [min]="1"
                placeholder="Who old are you..."
                styleClass="w-full"
            >
            </p-inputNumber>
        </div>
        <div class="m-1 flex flex-column">
            <span class="mb-1">Cost</span>
            <p-inputNumber
                [formControl]="sculptureForm.controls.cost"
                [min]="1"
                [allowEmpty]="true"
                [showClear]="true"
                placeholder="Cost"
                styleClass="w-full"
            >
            </p-inputNumber>
        </div>
    </div>
    <div class="col-12 md:col-6">
        <textarea
            [formControl]="sculptureForm.controls.description"
            placeholder="Description"
            pInputTextarea
            cols="30"
            rows="15"
            class="w-full"
        ></textarea>
    </div>
    <div class="col-12 flex justify-content-between align-items-center">
        <button
            [disabled]="!sculptureForm.dirty"
            (click)="reset()"
            label="Reset"
            pButton
            icon="pi pi-trash"
            class="p-button-danger m-1"
        ></button>
        <button
            (click)="submit()"
            [disabled]="!sculptureForm.dirty || sculptureForm.invalid"
            label="Submit"
            pButton
            icon="pi pi-check"
            class="p-button-success m-1"
        ></button>
    </div>
</div>
